
@{
    Layout = "SHeader";

}
@model ZModels.LoginModel;


@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="~/css/loginPage.css" />
</head>
<body>
    <div class="container">
        <div class="title">ZHAKAR-SSH</div>

        <div class="login-container">
            <div class="form-container">
                <div>
                    @Localizer["SignIn"]
                </div>
                <form action="/login" method="post">

                    <label for="Email">@Localizer["Login"]</label>
                    <input type="text" name="Email" />
                    <span asp-validation-for="@Model.Email"></span>

                    <label for="Password">@Localizer["Password"]</label>
                    <input type="password" name="Password" />
                    <span asp-validation-for="@Model.Password"></span>

                    <button type="submit">@Localizer["SignIn"]</button>
                    <p>@Localizer["DontHave"]<a href="/reg">@Localizer["CreateIt"]</a></p>
                </form>

            </div>
        </div>
    </div>
</body>
</html>
