
@{
    Layout = "SHeader";
}
@model ZModels.RegistrationModel;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registration</title>
    <link rel="stylesheet" href="~/css/registrationPage.css" />
</head>
<body>
    <div class="container">
        <div class="title">ZHAKAR-SSH</div>
        <div class="reg-container">
            <div class="form-container">
                <div>
                    @Localizer["SignUp"]
                </div>
                <form action="/reg" method="post">
                    <label for="Email">Email</label>
                    <input autocomplete="off" type="email" name="Email" />
                    <span asp-validation-for="@Model.Email"></span>
                    <label for="Password">@Localizer["Password"]</label>
                    <input autocomplete="off" type="password" name="Password" />
                    <span asp-validation-for="@Model.Password"></span>
                    <label for="PasswordConfirm">@Localizer["ConfirmPassword"]</label>
                    <input autocomplete="off" type="password" name="PasswordConfirm" />
                    <span asp-validation-for="@Model.PasswordConfirm"></span>
                    <label for="Name">@Localizer["Name"]</label>
                    <input autocomplete="off" type="text" name="Name" />
                    <span asp-validation-for="@Model.Name"></span>
                    <label for="LastName">@Localizer["LastName"]</label>
                    <input autocomplete="off" type="text" name="LastName" />
                    <span asp-validation-for="@Model.LastName"></span>
                    <label for="NickName">@Localizer["NickName"]</label>
                    <input autocomplete="off" type="text" name="NickName" />
                    <span asp-validation-for="@Model.NickName"></span>
                    <button type="submit">@Localizer["SignUp"]</button>
                    <p>@Localizer["HaveAccount"]<a href="/login">@Localizer["JustLogin"]</a></p>

                </form>

            </div>
        </div>
    </div>
</body>
</html>
