
@{
    Layout = "Header";
}
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@inject IViewLocalizer Localizer


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Proflile</title>

    <link rel="stylesheet" href="~/css/userProfile.css" />
    <link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap" rel="stylesheet">
    <script src="~/lib/jquery/dist/jquery.js"></script>

</head>
<body>
    <div class="container">
        <div class="img-col">
            <div class="img-title">@Localizer["PhotoTitle"]</div>
            <div class="img-container">

                <img src="~/static/default_user.png" id="profile_photo" />

            </div>
            <form>
                <label for="file-upload" class="custom-file-upload">
                    <i class="fa fa-cloud-upload"></i> @Localizer["UploadButton"]
                </label>
                <input id="file-upload" type="file" onchange="fileUpload()" />
            </form>
            <button onclick="editButtonClick(event)">@Localizer["EditButton"]</button>

        </div>
        <div class="info-col">
            <div class="info-title">@Localizer["UserInfo"]</div>
            <div class="row-container">
                <div class="info-row">
                    <div class="info-row-item">
                        @Localizer["Name"]:
                    </div>
                    <div class="info-row-item" id="name_field">
                        Name
                    </div>
                </div>
                <div class="info-row">
                    <div class="info-row-item">
                        @Localizer["LastName"]:
                    </div>
                    <div class="info-row-item" id="lastname_field">
                        LastName
                    </div>
                </div>

                <div class="info-row">
                    <div class="info-row-item">
                        @Localizer["NickName"]:
                    </div>
                    <div class="info-row-item" id="nickname_field">
                        NickName
                    </div>
                </div>
                <div class="info-row">
                    <div class="info-row-item">
                        Email:
                    </div>
                    <div class="info-row-item" id="email_field">
                        Email Address
                    </div>
                </div>

            </div>

            <div class="row-container" id="edit-container">

                <div class="info-row">
                    <div class="info-row-item">
                        @Localizer["Name"]:
                    </div>
                    <div class="info-row-item">
                        <input type="text" id="name-input" />
                    </div>
                </div>
                <div class="info-row">
                    <div class="info-row-item">
                        @Localizer["LastName"]:
                    </div>
                    <div class="info-row-item">
                        <input type="text" id="lastname-input" />
                    </div>
                </div>

                <div class="info-row">
                    <div class="info-row-item">
                        @Localizer["NickName"]:
                    </div>
                    <div class="info-row-item">
                        <input type="text" id="nickname-input" />

                    </div>
                </div>
                <div class="info-row">
                    <div class="info-row-item">
                        Email:
                    </div>
                    <div class="info-row-item">
                        <input type="text" id="email-input" />

                    </div>
                </div>
                <div class="info-row">
                    <button onclick="saveButtonClick()">@Localizer["SaveButton"]</button>
                </div>





            </div>




        </div>
    </div>
    <script defer src="~/js/profile.js"></script>

</body>
</html>
